In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [4]:
load_file = pd.read_csv('weather_data/cities.csv')

city_data_df = pd.DataFrame(load_file)
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Longyearbyen,SJ,2021-09-02 19:55:34,78.2186,15.6401,35.44,64,20,4.61
1,1,Dikson,RU,2021-09-02 19:55:35,73.5069,80.5464,40.01,79,100,16.06
2,2,Rikitea,PF,2021-09-02 19:55:35,-23.1203,-134.9692,73.76,76,3,18.92
3,3,Castro,BR,2021-09-02 19:55:17,-24.7911,-50.0119,71.62,50,69,3.87
4,4,Kloulklubed,PW,2021-09-02 19:55:36,7.0419,134.2556,84.36,69,68,4.12

In [6]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat', 'Lng']]
# 2. Assign the weights variable to some values.
temperatures = city_data_df['Max Temp']
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Kloulklubed,PW,2021-09-02 19:55:36,7.0419,134.2556,84.36,69,68,4.12
10,10,Lorengau,PG,2021-09-02 19:55:37,-2.0226,147.2712,81.45,78,100,7.09
12,12,Faanui,PF,2021-09-02 19:55:38,-16.4833,-151.7500,78.96,64,5,21.68
18,18,Kapaa,US,2021-09-02 19:55:40,22.0752,-159.3190,82.38,71,100,3.00
27,27,Nador,MA,2021-09-02 19:55:42,35.1740,-2.9287,77.07,50,0,5.75
28,28,Atuona,PF,2021-09-02 19:55:43,-9.8000,-139.0333,77.95,72,19,23.82
29,29,Washougal,US,2021-09-02 19:55:43,45.5826,-122.3534,82.69,39,0,4.00
30,30,Puerto Ayora,EC,2021-09-02 19:55:43,-0.7393,-90.3518,80.56,83,21,8.99
33,33,Sale,MA,2021-09-02 19:55:44,34.0389,-6.8166,75.22,88,40,5.75
34,34,Georgetown,MY,2021-09-02 19:53:22,5.4112,100.3354,77.90,89,20,1.14

In [25]:
preferred_cities_df.count()

City_ID       181
City          181
Country       181
Date          181
Lat           181
Lng           181
Max Temp      181
Humidity      181
Cloudiness    181
Wind Speed    181
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4    Kloulklubed      PW     84.36   7.0419  134.2556
10      Lorengau      PG     81.45  -2.0226  147.2712
12        Faanui      PF     78.96 -16.4833 -151.7500
18         Kapaa      US     82.38  22.0752 -159.3190
27         Nador      MA     77.07  35.1740   -2.9287
28        Atuona      PF     77.95  -9.8000 -139.0333
29     Washougal      US     82.69  45.5826 -122.3534
30  Puerto Ayora      EC     80.56  -0.7393  -90.3518
33          Sale      MA     75.22  34.0389   -6.8166
34    Georgetown      MY     77.90   5.4112  100.3354

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4    Kloulklubed      PW     84.36   7.0419  134.2556
10      Lorengau      PG     81.45  -2.0226  147.2712
12        Faanui      PF     78.96 -16.4833 -151.7500
18         Kapaa      US     82.38  22.0752 -159.3190
27         Nador      MA     77.07  35.1740   -2.9287
28        Atuona      PF     77.95  -9.8000 -139.0333
29     Washougal      US     82.69  45.5826 -122.3534
30  Puerto Ayora      EC     80.56  -0.7393  -90.3518
33          Sale      MA     75.22  34.0389   -6.8166
34    Georgetown      MY     77.90   5.4112  100.3354

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
  # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [31]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Kloulklubed,PW,84.36,7.0419,134.2556,
10,Lorengau,PG,81.45,-2.0226,147.2712,
12,Faanui,PF,78.96,-16.4833,-151.7500,
18,Kapaa,US,82.38,22.0752,-159.3190,
27,Nador,MA,77.07,35.1740,-2.9287,
...,...,...,...,...,...,...
539,Bartica,GY,88.12,6.4000,-58.6167,
540,Buritizeiro,BR,81.55,-17.3511,-44.9622,
541,Micheweni,TZ,75.88,-4.9667,39.8333,
545,Vanimo,PG,76.46,-2.6741,141.3028,
551,Labuhan,ID,76.41,-6.8844,112.2051,PT PPI Lamongan Tambak C

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [35]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))